@import "colores";

@mixin colorFondo ($color) {
    background-color: $color;
}

$estilos: (color:black,borde:15px);


body {
    color: map-get($estilos, color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    width: 100%;
}

header, footer, section, nav {
    border-radius: 15px;
}

section {
    background-color: #ffe3fe;
}

header, footer, nav {
    background-color: #f9a8ea;
}
ul {
    list-style-type: none;
}

a, button {
    text-decoration: none;
    color: #b90c63;
}

button {
    border-radius: 5px;
    @include colorFondo(rgb(254, 254, 254));
    padding: 3px;
}

footer a {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

header {
    padding: 30px;
}

nav ul a {
    padding: 10px;
}

article {
    @include colorFondo(white);
    border-radius: 15px;
    text-align: center;
    button {
        @include colorFondo(white);
        &:hover {
            background-color: $colorAmarillo;
            color: black;
        }
    }
}

img {
    width: 100px;
    height: 100px;
}

section {
    padding: 20px;
}

.item {
    background-color: #f705b7;
    color: white;
}

section {
    grid-area: section;
}

nav {
    grid-area: nav;
}

header {
    grid-area: header;
    justify-content: space-between;
}

footer {
    grid-area: footer;
    justify-content: center;
}

header, footer, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main, section {
    display: grid;
}

button:hover {
    background-color: #8e0590;
}

header {
    background-image: linear-gradient(to bottom, pink , rgb(245, 103, 210));
}

footer {
    @extend header
}

#contacto {
    width: auto;
    align-items: center;
}

@each $red, $color in $coloresRedes {
    .#{$red}{
        color: $color;
    }
}

@media screen and (min-width: 320px){
    #main {
        grid-template-columns: auto;
        grid-template-rows: 15% 10% auto 15%;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-areas: "header" 
                                " nav" 
                                "section" 
                                "footer";
    }

    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
    }

    nav {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 360px) {
    #main {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-areas:    "header" 
                                "nav" 
                                "section" 
                                "footer";
    }

    section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
    }
}

@media screen and (min-width: 1200px) {
    #main {
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto 15%;
        column-gap: 10px;
        row-gap: 10px;
        grid-template-areas:    "header header" 
                                "nav nav" 
                                "section section" 
                                "footer footer";
    }

    section {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 15px;
        row-gap: 15px;
        justify-items: stretch;
        align-items: stretch;
    }
}